h1 img {
  height: 64px;
}

li.list-group-item {
  background-color: var(--background-secondary);
  color: var(--heading);
}

li:nth-of-type(1) {
  background: linear-gradient(to bottom, #C5B358 0%, #B6A449 100%);
  color: white;
}
li:nth-of-type(2) {
  background: linear-gradient(to bottom, #C0C0C0 0%, #B1B1B1 100%);
  color: white;
}
li:nth-of-type(3) {
  background: linear-gradient(to bottom, #CD7F32 0%, #BE7023 100%);
  color: white;
}
