.round {
  border-radius: 50% !important;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* buttons */
.btn-gradient {
  background-image: linear-gradient(135deg, var(--secondary), var(--info));
  color: white;
}
.btn-gradient:hover {
  color: white;
}

/* text */
.text-gradient {
  background: linear-gradient(135deg, var(--secondary), var(--info));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}