doctype
html(lang='en')
  head
    include ../includes/header.pug

    script(src='/js/sidebar.js', defer)
    link(rel='stylesheet', href='/css/sidebar.css')
  body
    include ../includes/sidebar.pug

    #sidebarExtension
      header.text-center.pt-4
        .large-icon.bg-white.round
          img.round(src=user.avatarUrl(128), alt=user.username)
        h4.pt-2 #{user.username}
          span.text-muted #{'#' + user.discriminator.toString().padStart(4, '0')}

      .p-4
        label Theme
        select#themeSelect.form-control
          option(value='ASCETIC', selected) Ascetic (Default)
          option(value='DISCORD') Discord

    include ../includes/navbar.pug

    .container.jumbotron.text-center.bg-transparent
      h1.display-3 Dashboard
      hr
      p.lead Manage your servers with the 1PG dashboard.